@import 'importFonts.css';
@import 'normalize.css';
*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #fafafa;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: #737373;
}

[class*=pageContainer] {
  max-width: 1055px;
  padding: 0 5px;
  margin: 0 auto;
}

.titleBlock > * {
  margin: 0;
}
.titleBlock > *:not(:last-child) {
  margin-bottom: 10px;
}
.titleBlock__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 142%;
  color: #252b42;
}
@media (max-width: 425px) {
  .titleBlock__title {
    font-size: 30px;
  }
}
.titleBlock__description {
  line-height: 143%;
}

.header {
  flex: 0 0 auto;
  position: absolute;
  z-index: 100;
  width: 100%;
}
.header__pageContainer {
  display: flex;
  align-items: center;
  min-height: 104px;
}
@media (max-width: 768px) {
  .header__pageContainer {
    min-height: 60px;
  }
}
.header__logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 133%;
  letter-spacing: 0.1px;
  text-decoration: none;
  color: #252b42;
  margin-right: 132px;
}
@media (max-width: 768px) {
  .header__logo {
    margin-right: 0;
  }
}
.headerMenu__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}
.headerMenu__item:not(:last-child) {
  margin-right: 21px;
}
.headerMenu__link {
  font-weight: 600;
  line-height: 171%;
  text-decoration: none;
  color: inherit;
}
.headerMenu__link:hover {
  text-decoration: underline;
}
.burger {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 102;
  display: none;
  padding: 10px;
}
.burger__strip {
  transition: 0.3s;
  display: block;
  height: 4px;
  width: 40px;
  background: #252B42;
}
.burger__strip:not(:last-child) {
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .headerMenu {
    position: fixed;
    z-index: 101;
    left: 100%;
    top: 3%;
    bottom: 3%;
    width: 94%;
    overflow: scroll;
    padding-top: 50px;
    background: #eee;
    transition: 0.3s;
  }
  .headerMenu__list {
    flex-direction: column;
    align-items: center;
  }
  .headerMenu__item:not(:last-child) {
    margin-right: 0;
  }
  .headerMenu__link {
    font-size: 22px;
    line-height: 300%;
  }
  .burger {
    display: block;
  }
  body.showMobileMenu {
    overflow: hidden;
  }
  body.showMobileMenu .headerMenu {
    left: 3%;
  }
  body.showMobileMenu .burger {
    background: #ddd;
  }
  body.showMobileMenu .burger__strip:first-child {
    transform: translate(0px, 12px) rotate(45deg);
  }
  body.showMobileMenu .burger__strip:nth-child(2) {
    opacity: 0;
  }
  body.showMobileMenu .burger__strip:last-child {
    transform: translate(0px, -12px) rotate(-45deg);
  }
}
.main {
  flex: 1 0 auto;
}
.main__services {
  margin-top: -111px;
}
.main__statistic {
  padding: 80px 0;
}
.main__practice {
  padding-top: 125px;
  padding-bottom: 80px;
}
@media (max-width: 768px) {
  .main__practice {
    padding-top: 60px;
  }
}
@media (max-width: 425px) {
  .main__practice {
    padding-top: 0;
  }
}
.main__whoweare {
  padding-top: 100px;
  padding-bottom: 136px;
}
@media (max-width: 768px) {
  .main__whoweare {
    padding: 60px 0;
  }
}
.main__clients {
  padding-top: 50px;
}

.mainBlock {
  position: relative;
}
.mainBlock__pageContainer {
  position: relative;
  z-index: 1;
  padding-top: 184px;
  padding-bottom: 191px;
}
@media (max-width: 768px) {
  .mainBlock__pageContainer {
    padding-top: 110px;
    padding-bottom: 170px;
  }
}
.mainBlock__contentContainer {
  max-width: 509px;
}
.mainBlock__contentContainer > *:not(:last-child) {
  margin-bottom: 35px;
}
@media (max-width: 768px) {
  .mainBlock__contentContainer > *:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media (max-width: 425px) {
  .mainBlock__contentContainer > *:not(:last-child) {
    margin-bottom: 15px;
  }
}
.mainBlock__title {
  font-size: 58px;
  font-weight: 800;
  line-height: 138%;
  color: #252b42;
  margin-top: 0;
}
@media (max-width: 768px) {
  .mainBlock__title {
    font-size: 46px;
  }
}
@media (max-width: 425px) {
  .mainBlock__title {
    font-size: 38px;
  }
}
.mainBlock__description {
  font-size: 20px;
  line-height: 150%;
  margin-top: 0;
}
@media (max-width: 425px) {
  .mainBlock__description {
    font-size: 16px;
  }
}
.mainBlock__buttons {
  margin: -5px;
  font-size: 0;
}
.mainBlock__buttonSpace {
  display: inline-block;
  padding: 5px;
}
@media (max-width: 425px) {
  .mainBlock__buttonSpace {
    width: 100%;
  }
}
.mainBlock__button {
  font-size: 14px;
  font-weight: 700;
  line-height: 200%;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px;
  width: 100%;
  text-align: center;
  transition: 0.3s;
}
.mainBlock__button:active {
  transform: translateY(1px);
}
.mainBlock__button_solid {
  color: #ffffff;
  background: #ff7b47;
  padding: 10px 36px;
}
.mainBlock__button_solid:hover {
  background: #ff8e61;
}
.mainBlock__button_solid:active {
  background: #ff692d;
}
.mainBlock__button_border {
  color: #0d5c63;
  border: 1px solid #0d5c63;
  padding: 9px 35px;
}
.mainBlock__button_border:hover {
  text-decoration: underline;
}
.mainBlock__backgroundImg {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}
@media (max-width: 768px) {
  .mainBlock__backgroundImg {
    opacity: 0.5;
  }
}

.services {
  position: relative;
  z-index: 2;
}
.services__cardsContainer {
  display: flex;
  margin: -1.4%;
}
@media (max-width: 768px) {
  .services__cardsContainer {
    flex-wrap: wrap;
  }
}
.services__cardSpace {
  flex: 0 0 33.33%;
  padding: 1.4%;
}
@media (max-width: 768px) {
  .services__cardSpace {
    flex: 1 0 50%;
  }
}
.cardServices {
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.0705882353);
  background: #ffffff;
  height: 100%;
  padding: 9.84% 11.25%;
  cursor: default;
  transition: 0.3s;
}
.cardServices:hover {
  background: #0d5c63;
}
.cardServices:hover .cardServices__icon {
  fill: #ffffff;
}
.cardServices:hover .cardServices__title, .cardServices:hover .cardServices__description {
  color: #ffffff;
}
@media (max-width: 768px) {
  .cardServices {
    padding: 20px 25px;
  }
}
.cardServices > * {
  margin: 0 0 10px 0;
}
.cardServices > *:last-child {
  margin-bottom: 0;
}
.cardServices__icon {
  fill: #0d5c63;
  height: 48px;
  width: 48px;
}
.cardServices__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 133%;
  letter-spacing: 0.1px;
  text-decoration: none;
  color: #252b42;
}
.cardServices__description {
  line-height: 143%;
}

.statistic__titleBlock {
  text-align: center;
}
.statistic__titleBlock:not(:last-child) {
  margin-bottom: 50px;
}
.statistic__titleBlock_textWidth {
  max-width: 520px;
  margin: 0 auto;
}
.statistic__cardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -1.847%;
}
.statistic__card {
  padding: 1.847%;
  flex: 0 1 25%;
}
@media (max-width: 768px) {
  .statistic__card {
    flex-basis: 50%;
  }
}

.cardStat__body {
  background: #ffffff;
  text-align: center;
  padding: 30px 10px;
  height: 100%;
}
.cardStat__body:hover {
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.0705882353);
}
.cardStat__body > *:not(:last-child) {
  margin-bottom: 10px;
}
.cardStat__imgContainer {
  font-size: 0;
}
.cardStat__img {
  width: 48px;
  height: 48px;
}
.cardStat__index {
  font-size: 40px;
  font-weight: 700;
  line-height: 142%;
  color: #252b42;
  white-space: nowrap;
}
@media (max-width: 425px) {
  .cardStat__index {
    font-size: 30px;
  }
}
.cardStat__text {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.1px;
}
@media (max-width: 425px) {
  .cardStat__text {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 143%;
  }
}

.practice__titleBlock {
  text-align: center;
}
.practice__titleBlock:not(:last-child) {
  margin-bottom: 45px;
}
.practice__itemsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -1.84%;
}
.practice__item {
  padding: 1.84%;
  flex: 0 1 25%;
}
@media (max-width: 768px) {
  .practice__item {
    flex-basis: 50%;
  }
}
@media (max-width: 425px) {
  .practice__item {
    flex-basis: 100%;
  }
}

.itemPractice__body {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: 0.1s;
}
.itemPractice__body:hover {
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.0705882353);
  cursor: pointer;
  transform: scale(1.02);
}
.itemPractice__content {
  flex: 1 0 auto;
  padding: 12.99%;
  background: #ffffff;
}
@media (max-width: 768px) {
  .itemPractice__content {
    padding: 25px;
  }
}
.itemPractice__content > *:not(:last-child) {
  margin-bottom: 15px;
}
.itemPractice__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #252b42;
}
.itemPractice__text {
  line-height: 143%;
}
.itemPractice__imageContainer {
  flex: 0 0 auto;
  position: relative;
  padding-top: 59.74%;
}
.itemPractice__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.whoweare {
  background: #ffffff;
}
.whoweare__titleBlock {
  text-align: center;
}
.whoweare__titleBlock > *:not(:last-child) {
  margin-bottom: 15px;
}
.whoweare__titleBlock:not(:last-child) {
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .whoweare__titleBlock:not(:last-child) {
    margin-bottom: 60px;
  }
}
@media (max-width: 425px) {
  .whoweare__titleBlock:not(:last-child) {
    margin-bottom: 45px;
  }
}
.whoweare__titleBlock .titleBlock__description {
  max-width: 520px;
  margin: 0 auto;
}
.whoweare__body {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .whoweare__body {
    justify-content: flex-start;
    flex-direction: column-reverse;
  }
}
.whoweare__mediaContainer {
  flex: 0 0 57.41%;
}
.whoweare__media {
  position: relative;
  padding-top: 73.7%;
}
.whoweare__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.whoweare__mediaEffect {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.8392156863) 100%);
}
.whoweare__buttonPlay {
  position: absolute;
  left: 50%;
  top: 50%;
}
.whoweare__buttonPlayCircle {
  width: 98px;
  height: 98px;
  background: #0d5c63;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.3s;
}
.whoweare__buttonPlayCircle:hover {
  background: #ff692d;
}
.whoweare__symbolPlay {
  font-size: 46px;
  width: 46px;
  height: 46px;
  color: #ffffff;
  transform: translate(36px, 21px);
  transition: 0.1s;
}
.whoweare__contentContainer {
  flex: 0 1 345px;
  padding-left: 10px;
}
@media (max-width: 768px) {
  .whoweare__contentContainer {
    flex-basis: auto;
    padding-bottom: 45px;
  }
}
.contentWhoWeAre__titleBlock:first-child {
  margin-top: 20px;
}
@media (max-width: 768px) {
  .contentWhoWeAre__titleBlock:first-child {
    margin-top: 20px;
  }
}
.contentWhoWeAre__titleBlock:not(:last-child) {
  margin-bottom: 50px;
}
.contentWhoWeAre__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.contentWhoWeAre__item {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}
.contentWhoWeAre__item:not(:last-child) {
  margin-bottom: 30px;
}
.contentWhoWeAre__item:hover .contentWhoWeAre__icon {
  fill: #0d5c63;
}
.contentWhoWeAre__item:hover .contentWhoWeAre__text {
  text-decoration: underline;
}
.contentWhoWeAre__iconContainer {
  flex: 0 0 52px;
}
.contentWhoWeAre__icon {
  width: 32px;
  height: 32px;
  fill: #ff7b47;
  transition: 0.1s;
}
.contentWhoWeAre__subtitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #252b42;
  margin: 0;
}
.contentWhoWeAre__subtitle:not(:last-child) {
  margin-bottom: 5px;
}
.contentWhoWeAre__text {
  font-weight: 600;
  line-height: 24px;
}

.clients__cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -1.3%;
}
.clients__cardSpace {
  padding: 1.3%;
}

.cardClients__body {
  width: 150px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardClients__svg:hover {
  fill: #ff8e61;
  transform: scale(1.03);
}

.footer {
  flex: 0 0 auto;
}