@import 'importFonts.css';
@import 'normalize.css';
*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: #737373;
}

[class*=pageContainer] {
  max-width: 1055px;
  padding: 0 5px;
  margin: 0 auto;
}

.header {
  flex: 0 0 auto;
  position: absolute;
  z-index: 2;
  width: 100%;
}
.header__pageContainer {
  display: flex;
  align-items: center;
  min-height: 104px;
}
@media (max-width: 768px) {
  .header__pageContainer {
    justify-content: space-between;
    min-height: 60px;
  }
}
.header__logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 133%;
  letter-spacing: 0.1px;
  text-decoration: none;
  color: #252b42;
  margin-right: 132px;
}
@media (max-width: 768px) {
  .header__logo {
    margin-right: 0;
  }
}

.headerMenu__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}
.headerMenu__item:not(:last-child) {
  margin-right: 21px;
}
.headerMenu__link {
  font-weight: 600;
  line-height: 171%;
  text-decoration: none;
  color: inherit;
}

.burger {
  position: relative;
  z-index: 4;
  display: none;
  padding: 10px;
}
.burger__strip {
  transition: 0.3s;
  display: block;
  height: 4px;
  width: 40px;
  background: #252B42;
}
.burger__strip:not(:last-child) {
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .headerMenu {
    position: fixed;
    z-index: 3;
    left: 100%;
    top: 3%;
    bottom: 3%;
    width: 94%;
    overflow: scroll;
    padding-top: 50px;
    background: #eee;
    transition: 0.3s;
  }
  .headerMenu__list {
    flex-direction: column;
    align-items: center;
  }
  .headerMenu__item:not(:last-child) {
    margin-right: 0;
  }
  .headerMenu__link {
    font-size: 22px;
    line-height: 300%;
  }
  .burger {
    display: block;
  }
  body.showMobileMenu {
    overflow: hidden;
  }
  body.showMobileMenu .headerMenu {
    left: 3%;
  }
  body.showMobileMenu .burger {
    background: #ddd;
  }
  body.showMobileMenu .burger__strip:first-child {
    transform: translate(0px, 12px) rotate(45deg);
  }
  body.showMobileMenu .burger__strip:nth-child(2) {
    opacity: 0;
  }
  body.showMobileMenu .burger__strip:last-child {
    transform: translate(0px, -12px) rotate(-45deg);
  }
}
.main {
  flex: 1 0 auto;
}

.mainBlock {
  position: relative;
}
.mainBlock__pageContainer {
  position: relative;
  z-index: 1;
  padding-top: 184px;
  padding-bottom: 191px;
}
@media (max-width: 768px) {
  .mainBlock__pageContainer {
    padding-top: 110px;
    padding-bottom: 110px;
  }
}
.mainBlock__contentContainer {
  max-width: 509px;
}
.mainBlock__contentContainer > *:not(:last-child) {
  margin-bottom: 35px;
}
@media (max-width: 425px) {
  .mainBlock__contentContainer > *:not(:last-child) {
    margin-bottom: 25px;
  }
}
.mainBlock__title {
  font-size: 58px;
  font-weight: 800;
  line-height: 138%;
  color: #252b42;
  margin-top: 0;
}
@media (max-width: 768px) {
  .mainBlock__title {
    font-size: 46px;
  }
}
@media (max-width: 425px) {
  .mainBlock__title {
    font-size: 38px;
  }
}
.mainBlock__description {
  font-size: 20px;
  line-height: 150%;
  color: #737373;
  margin-top: 0;
}
@media (max-width: 425px) {
  .mainBlock__description {
    font-size: 16px;
  }
}
.mainBlock__buttons {
  margin: -5px;
}
.mainBlock__buttonSpace {
  display: inline-block;
  padding: 5px;
}
@media (max-width: 425px) {
  .mainBlock__buttonSpace {
    width: 100%;
  }
}
.mainBlock__button {
  font-weight: 700;
  line-height: 200%;
  text-decoration: none;
  display: inline-block;
  padding: 0 36px;
  padding: 10px 36px;
  border-radius: 25px;
  width: 100%;
  text-align: center;
}
.mainBlock__button_solid {
  color: #ffffff;
  background: #ff7b47;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mainBlock__button_border {
  color: #0d5c63;
  border: 1px solid #0d5c63;
  padding-top: 9px;
  padding-bottom: 9px;
}
.mainBlock__backgroundImg {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}
@media (max-width: 768px) {
  .mainBlock__backgroundImg {
    opacity: 0.5;
  }
}

.footer {
  flex: 0 0 auto;
}