@import 'importFonts.css';
@import 'normalize.css';
@import 'fontStyles.scss';
// =========================================[general]
*,
*::after,
*::before {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  @include defaultTextStyle();
  color: $secondTextColor;
}
[class*="pageContainer"] {
  max-width: 1055px;
  padding: 0 5px;
  margin: 0 auto;
}

// =========================================[header]
.header {
  flex: 0 0 auto;
  position: absolute;
  z-index: 2;
  width: 100%;
  &__pageContainer {
    display: flex;
    align-items: center;
    min-height: 104px;
    @media (max-width: 768px) {
      justify-content: space-between;
      min-height: 60px;
    }
  }
  &__logo {
    @include h3();
    color: $textColor;
    margin-right: 132px;
    @media (max-width: 768px) {
      margin-right: 0;
    }
  }
  // &__menu {}
}

// =================[desktop menu]
.headerMenu {
  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 21px;
    }
  }
  &__link {
    @include link();
    color: inherit;
  }
  // &__burgerContainer {}
}
// =================[burger icon]
.burger {
  position: relative;
  z-index: 4;
  display: none;
  padding: 10px;
  &__strip {
    transition: 0.3s;
    display: block;
    height: 4px;
    width: 40px;
    background: #252B42;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

// =================[mobile menu closed]
@media (max-width: 768px) {
  .headerMenu {
    position: fixed;
    z-index: 3;
    left: 100%;
    top: 3%;
    bottom: 3%;
    width: 94%;
    overflow: scroll;
    padding-top: 50px;
    background: #eee;
    transition: 0.3s;
    &__list {
      flex-direction: column;
      align-items: center;
    }
    &__item {
      &:not(:last-child) {
        margin-right: 0;
      }
    }
    &__link {
      font-size: 22px;
      line-height: 300%;
    }
  }
  // =================[show burger icon]
  .burger {
    display: block;
  }
  // =================[mobile menu opened]
  body.showMobileMenu {
    overflow: hidden;
    & .headerMenu {
      left: 3%;
    }
    // =================[burger icon opened]
    & .burger {
      background: #ddd;
      &__strip {
        &:first-child {
          transform: translate(0px, 12px) rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          transform: translate(0px, -12px) rotate(-45deg);
        }
      }
    }
  }
}

// =========================================[main]
.main {
  flex: 1 0 auto;
  // &__mainBlock {}
}
.mainBlock {
  position: relative;
  &__pageContainer {
    position: relative;
    z-index: 1;
    padding-top: 184px;
    padding-bottom: 191px;
    @media (max-width: 768px) {
      padding-top: 110px;
      padding-bottom: 110px;
    }
  }
  &__contentContainer {
    max-width: 509px;
    &>*:not(:last-child) {
      margin-bottom: 35px;
      @media (max-width: 425px) {
        margin-bottom: 25px;
      }
    }
  }
  &__title {
    @include h1();
    color: $textColor;
    margin-top: 0;
    @media (max-width: 768px) {
      @include h1Tablet();
    }
    @media (max-width: 425px) {
      @include h1Mobile();
    }
  }
  &__description {
    @include h4();
    color: $secondTextColor;
    margin-top: 0;
    @media (max-width: 425px) {
      @include h4Mobile();
    }
  }
  &__buttons {
    margin: -5px;
    font-size: 0;
  }
  &__buttonSpace {
    display: inline-block;
    padding: 5px;
    @media (max-width: 425px) {
      width: 100%;
    }
  }
  &__button {
    @include btnText();
    display: inline-block;
    border-radius: 25px;
    width: 100%;
    text-align: center;
    &_solid {
      color: $lightTextColor;
      background: $primaryColor;
      padding: 10px 36px;
    }
    &_border {
      color: $secondaryColor1;
      border: 1px solid $secondaryColor1;
      padding: 9px 35px;
    }
  }
  // &__backgroundContainer {}
  &__backgroundImg {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
    @media (max-width: 768px) {
      opacity: 0.5;
    }
  }
}

// =========================================[footer]
.footer {
  flex: 0 0 auto;
}